.overlay {
  position: fixed;
  right: -100%;
  top: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: right 0.3s ease-in-out;
}

.overlay.open {
  right: 0;
}

.overlay.open.accordion-item-open {
  background-color: rgba(0, 0, 0, 0.3);
  transition: right 0.3s ease-in-out;
}

.overlay-background {
  background-color: rgba(0, 0, 0, 0.5);
  width: 70vw;
  height: 100vh;
  position: fixed;
  cursor: pointer;
  z-index: 9;
}

.overlay-container {
  background-color: #3c647c;
  position: fixed;
  height: 100vh;
  width: 40vw;
  z-index: 10;
  right: -100vw;
  transition: right 0.3s ease-in-out, width 0.3s ease-in-out;
  overflow: auto;
}

.overlay-container::-webkit-scrollbar {
  display: none;
}

.overlay.open .overlay-container {
  right: 0;
}

.overlay.open.accordion-item-open .overlay-container {
  width: 42vw;
}
