.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center; /* Override parent's align-items */
  padding: 10px;
}

.hero > * {
  padding: 1rem;
}
.hero > img {
  width: 10rem;
  height: auto;
}
.hero > * h1 {
  font-size: 5rem;
  font-weight: 300;
}

.wrapper {
  background-color: #42607b;
  min-height: 100vh; /* Set a minimum height of the viewport */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 6rem;
}

.container {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  /* border: black solid; */
  color: white;
  align-items: flex-start;
  padding: 0 2rem;
  width: 80rem;
  flex: 1; /* Allow the container to grow and occupy available space */
  overflow-x: hidden;
}

button {
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
}
